body{
  background-color:#242424;
  ;
  
}
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  }

.page_content {
  width: 100%;
  height: 100%;
  }

.top{
  background: linear-gradient(to right, rgba(140, 137, 137, 0.724), rgba(60, 60, 60, 0.8));
  height: 40px;
  width: 100%;
}

h2{
  font-family: Garamond, serif;
}

/* Image container with relative positioning */
.image-container {
  position: relative;
  width: 100%;
  
  margin: 0 auto;
}

/* Heading positioned over the image */
#heading {
  position: absolute;
  font-family: Garamond, serif;
  top: 5%;
  left: 50%;
  
  transform: translate(-50%, -50%);
  color: white; /* White text to contrast with the image */
  font-size: 3rem;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7); /* Adds a shadow to make the text stand out */
  z-index: 10; /* Ensures the heading is above the image */
}

/* Image styling */
#image {
  display: block;
  width: 100%; /* Ensures image fills the container */
  height: 500px;
  opacity: 70%;
  margin: 0 auto;
}

.nav{
  display: flex;
  background: linear-gradient(to right, rgba(140, 137, 137, 0.724), rgba(60, 60, 60, 0.8));
  width: 100%;

  align-items: center;

  justify-content: end;
  box-shadow: 5px 5px 10px rgba(195, 195, 195, 0.7); 
  height: 40px;
  

}

.nav button{
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  transition: background-color 0.5s ease, color 0.5s ease;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  
  background-color: #444748;
  
}

.nav button:hover{
  background-color: darkgray;
  cursor: pointer;
  color: black;
  
}

.description{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.description p{
  
  width: 700px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;

}

#tips{
  font-family: Garamond, serif;
  text-align: center;
}




.tricks button{
  margin: 10px;
  width: 150px;
  height: 50px;
  border-radius: 10%;
  color: black;
  font-size: 15px;
}

.newTips{
  display: flex;
  flex-direction: column;
  align-items: center;

}


.tipsTricks{
  border: 5px solid lightblue;
 
}

#imageWeather{
  height: 300px;
  width: 100%;
}

.search-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

input {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: lightblue;
  color: black;
  border: none;
}

button:hover {
  background-color: gray;
}

.current-weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
  border-width: 2px;
  border-color: white;
  border: solid;
  width: 30%;
}

.current-weather-info p{
  font-family: Garamond, serif;
  font-size: 18px;
}

.today{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-line: underline;
  margin: 0;
  border-width: 2px;
}

.fullWeather{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weekly-weather{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}
.weekly-day{
  border: solid 2px white;
  padding:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  text-align: center;
}

#day-header{
  text-decoration: underline;
  background-color: lightblue;
  color: black;
}

#map-style{
  width: 100%
}

#actual-map{
  width: 450px;
  height: 420px;
  margin: 0;
}

.each-shelter{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid white;
  padding: 30px;
}
.shelterSpots{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.each-shelter .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  
}
.buttons{

  display: flex;
  justify-content: center;
}

.buttons button{
  margin: 30px;
  width: 200px;
  background-color: lightblue;
  color: black;
  font-size: 15px;
}